body {
    font-family: 'M PLUS Rounded 1c', 'Roboto', sans-serif !important;
    font-weight: 300;
    color: #fff;
    background-color: #73b6e6;
    line-height: 200% !important;
}
.navbar-light .navbar-toggler,.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0) !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
footer p,footer a,footer a:hover {
    font-size: 0.9em;
    color: #fff;
}
h1, h2, h3, h4 {
    color: #fff;
    line-height: 160%;
}
a, a:hover, a:focus {
    color: #fff;
}  
@media(max-width: 576px) {
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
}
path:hover{
  fill:#fff;
}
